//color
$orange : #ffa500;
$off-white:#ffff;
$green:#57b846;
$red:#ea4355;
$blue:#1da1f2;
$off-white:#f8f8f8;
$off-black:#f1f1;
 
//font-family
$quicksand: 'Quicksand', sans-serif;
 
//button-redius
$button-radius:30px;
 
//Sizes
$xs:0.5rem;
$normal:1rem;
$sm:1.5rem;
$md:2rem;
$lg:3rem;
$xlg:5rem;
$xxlg:7rem;
 
//Break-points
$lg-breakpoint:1024px;
$md-breakpoint:768px;
$sm-breakpoint:641px;
$xs-breakpoint:480px